$text:   white;
$page:   #111;
$block:  #222;
$border: #555;

html, body {
    margin: 0;

    color: $text;
    background: $page;

    font-family: Roboto;
}

#container {
    margin: 0 0 0 15px;
}

.block {
    display: inline-block;
    margin: 10px;

    box-shadow: 0 0 10px #000;
    border: 1px solid $border;
    border-radius: 4px;

    text-align: center;

    background: $block;
}

#heading {
    margin: 0 0 20px 0;
    padding: 10px 0 15px 20px;

    font-weight: normal;

    background: $block;

    span {
        padding: 0 0 0 15px;

        font-size: 18px;

        color: #777;
    }
}
