/**
 *  dash.scss
 *  https://github.com/sam210723/xrit-rx
 *  
 *  Dashboard stylesheet for xrit-rx
 */

// Colours
$page_text:    #FFFFFF;
$page_bg:      #111111;
$block_header: #292929;
$block_body:   #1C1C1C;
$block_border: #555555;


// Mixins
@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};      
} 

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}


// Fonts
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url("Roboto.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


// Animations
@include keyframes(indicator-pulse) {
    0%   { background: green; }
    100% { background: darkgreen; }
}


// General
html, body {
    margin: 0;

    color: $page_text;
    background: $page_bg;

    font-family: Roboto, Arial;

    cursor: default;

    // Disable text selection
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: cornflowerblue;
}

#navbar {
    margin: 0 0 20px 0;
    padding: 11px 5px 15px 20px;

    font-size: 24px;
    font-weight: normal;

    background: $block_header;

    // Left title text
    &-title {
        text-shadow: 3px 3px 2px #1B1B1B;
    }

    // Right version info
    &-version {
        padding: 4px 13px 0 0;
        float: right;

        font-size: 18px;

        color: #888;

        // New version button
        &-new {
            position: relative;
            float: right;
    
            padding: 5px 9px 5px 8px;
            margin-right: 15px;
    
            font-size: 18px;
            text-decoration: none;
    
            border-radius: 4px;
    
            color: $page_text;
            background: green;
            box-shadow: 0 0 5px #222;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#container {
    margin: 0 0 0 15px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;

    &-track {
        background: #050505; 
    }

    &-thumb {
        background: #555555; 
    }

    &-thumb:hover {
        background: #FFFFFF; 
    }
}


// Blocks
.indicator {
    display: inline-block;
    width: 100px;

    margin: 4px 10px 0 10px;
    padding: 10px;

    text-align: center;

    border: 1px solid;
    border-radius: 4px;
    
    color: #777;
    background: #333;
    border-color: #777;
    
    box-shadow: 0 0 10px black;

    span {
        font-size: 32px;
        font-weight: bold;
    }

    p {
        margin: 0;
        margin-top: 5px;

        color: #AAA;
    }

    &[active] {
        color: white;
        background: green;
        border-color: limegreen;

        @include animation('indicator-pulse 2s infinite alternate ease-in-out');

        p {
            color: white;
        }
    }

    &[disabled] {
        color: #777;
        background: #400;
        border-color: #700;

        p {
            color: #777;
        }
    }
}

.block {
    display: inline-block;
    margin: 10px;

    box-shadow: 0 0 10px #000;
    border: 2px solid $block_border;
    border-radius: 8px;

    vertical-align: top;
    text-align: center;

    background: $block_body;

    &-heading {
        padding: 6px 0 9px 0;

        font-size: 26px;
        font-weight: bold;
        text-align: center;

        border-bottom: 1px solid $block_border;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        background: $block_header;
    }

    &-body {
        padding: 20px;
    }

    button {
        margin: 10px;
        padding: 5px 10px 5px 10px;

        font-family: Roboto;
        font-size: 14px;

        border: 1px solid $block_border;
        border-radius: 4px;

        color: white;
        background: #111;

        &:hover {
            border: 1px solid #777;
            
            background: #292929;
        }
    }

    h3 {
        letter-spacing: 1px;
    }

    #schedule-status {
        position: relative;
        float: right;

        padding: 5px 9px 5px 8px;
        margin-top: 1px;
        margin-right: 6px;

        font-size: 18px;

        border-radius: 4px;

        background: red;
        box-shadow: 0 0 5px #222;

        &[active] {
            background: green;
        }
    }
}

.latestimg {
    max-width: 100%;
    height: auto;

    &-name {
        margin: 13px 0 0 0;

        font-size: 20px;
    }
}

.schedule {
    width: 100%;

    border-collapse: collapse;
    box-shadow: 0 0 10px #0A0A0A;

    th, td {
        padding: 10px;

        border: 1px solid #555;
    }

    th {
        font-weight: bold;

        background: #383838;
    }

    tr {
        &[active] {
            background: #090;
        }

        &[disabled] {
            color: #999;
            background: #282828;
        }
    }

    &-clocks {
        width: 100%;

        margin-top: 25px;

        &-clock {
            width: 50%;

            text-align: center;

            &-time {
                font-size: 38px;
                font-weight: bold;
            }

            &-zone {
                margin-top: 0;
                margin-bottom: 20px;

                font-size: 20px;
                font-weight: normal;

                color: #AAA;
            }
        }
    }

    background: #1E211E;
}
