/**
 *  dash.scss
 *  https://github.com/sam210723/xrit-rx
 *  
 *  Dashboard stylesheet for xrit-rx
 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("Roboto.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@-webkit-keyframes indicator-pulse {
  0% {
    background: green;
  }
  100% {
    background: darkgreen;
  }
}

@keyframes indicator-pulse {
  0% {
    background: green;
  }
  100% {
    background: darkgreen;
  }
}

html, body {
  margin: 0;
  color: #FFFFFF;
  background: #111111;
  font-family: Roboto, Arial;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: cornflowerblue;
}

#navbar {
  margin: 0 0 20px 0;
  padding: 11px 5px 15px 20px;
  font-size: 24px;
  font-weight: normal;
  background: #292929;
}

#navbar-title {
  text-shadow: 3px 3px 2px #1B1B1B;
}

#navbar-version {
  padding: 4px 13px 0 0;
  float: right;
  font-size: 18px;
  color: #888;
}

#navbar-version-new {
  position: relative;
  float: right;
  padding: 5px 9px 5px 8px;
  margin-right: 15px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 4px;
  color: #FFFFFF;
  background: green;
  -webkit-box-shadow: 0 0 5px #222;
          box-shadow: 0 0 5px #222;
}

#navbar-version-new:hover {
  text-decoration: underline;
}

#container {
  margin: 0 0 0 15px;
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #555555;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFFFFF;
}

.indicator {
  display: inline-block;
  width: 100px;
  margin: 4px 10px 0 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid;
  border-radius: 4px;
  color: #777;
  background: #333;
  border-color: #777;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.indicator span {
  font-size: 32px;
  font-weight: bold;
}

.indicator p {
  margin: 0;
  margin-top: 5px;
  color: #AAA;
}

.indicator[active] {
  color: white;
  background: green;
  border-color: limegreen;
  -webkit-animation: indicator-pulse 2s infinite alternate ease-in-out;
  animation: indicator-pulse 2s infinite alternate ease-in-out;
}

.indicator[active] p {
  color: white;
}

.indicator[disabled] {
  color: #777;
  background: #400;
  border-color: #700;
}

.indicator[disabled] p {
  color: #777;
}

.progress {
  display: inline-block;
  width: 120px;
  margin: 4px 10px 0 10px;
  text-align: center;
  border: 1px solid;
  border-radius: 4px;
  color: #777;
  background: #333;
  border-color: #777;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.progress-bar {
  z-index: 1;
  display: block;
  border-radius: 3px;
  position: relative;
  height: 82px;
  background: green;
}

.progress-text {
  position: absolute;
  margin-top: 9px;
  width: inherit;
  z-index: 2;
}

.progress-text span {
  font-size: 32px;
  font-weight: bold;
}

.progress-text p {
  margin: 0;
  margin-top: 5px;
  color: #AAA;
}

.progress[active] {
  color: white;
  border-color: limegreen;
}

.progress[active] p {
  color: white;
}

.progress[disabled] {
  color: #777;
  background: #400;
  border-color: #700;
}

.progress[disabled] p {
  color: #777;
}

.block {
  display: inline-block;
  margin: 10px;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  border: 2px solid #555555;
  border-radius: 8px;
  vertical-align: top;
  text-align: center;
  background: #1C1C1C;
}

.block-heading {
  padding: 6px 0 9px 0;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #555555;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: #292929;
}

.block-body {
  padding: 20px;
}

.block button {
  margin: 10px;
  padding: 5px 10px 5px 10px;
  font-family: Roboto;
  font-size: 14px;
  border: 1px solid #555555;
  border-radius: 4px;
  color: white;
  background: #111;
}

.block button:hover {
  border: 1px solid #777;
  background: #292929;
}

.block h3 {
  letter-spacing: 1px;
}

.block #schedule-status {
  position: relative;
  float: right;
  padding: 5px 9px 5px 8px;
  margin-top: 1px;
  margin-right: 6px;
  font-size: 18px;
  border-radius: 4px;
  background: red;
  -webkit-box-shadow: 0 0 5px #222;
          box-shadow: 0 0 5px #222;
}

.block #schedule-status[active] {
  background: green;
}

.latestimg {
  max-width: 100%;
  height: auto;
}

.latestimg-name {
  margin: 13px 0 0 0;
  font-size: 20px;
}

.schedule {
  width: 100%;
  border-collapse: collapse;
  -webkit-box-shadow: 0 0 10px #0A0A0A;
          box-shadow: 0 0 10px #0A0A0A;
  background: #1E211E;
}

.schedule th, .schedule td {
  padding: 10px;
  border: 1px solid #555;
}

.schedule th {
  font-weight: bold;
  background: #383838;
}

.schedule tr[active] {
  background: #090;
}

.schedule tr[disabled] {
  color: #999;
  background: #282828;
}

.schedule-clocks {
  width: 100%;
  margin-top: 25px;
}

.schedule-clocks-clock {
  width: 50%;
  text-align: center;
}

.schedule-clocks-clock-time {
  font-size: 38px;
  font-weight: bold;
}

.schedule-clocks-clock-zone {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: normal;
  color: #AAA;
}
/*# sourceMappingURL=dash.css.map */